@use 'utils/utils' as *;
@use 'settings/settings' as *;
@use 'components/components' as *;

* {
  transition: all 0.2s ease-in-out;
  font-family: 'roboto', sans-serif;
}

#app {
  min-height: 100vh;
  min-width: 100vw;
  color: colour('text');
  background-color: colour('background');
}