@use 'utils/utils' as *;
@use 'settings/settings' as *;
@use 'layouts/layouts' as * ;
@use 'components/components' as *;

* {
  font-family: 'roboto', sans-serif;
  scrollbar-gutter: stable;
}

body {
  display: flex;
  justify-content: center;

  min-height: 100svh;
  background-color: colour('body-background');

  color: colour('text');
  font-size: font-size('p1');
  
  $background-grid-size: 5em;
  background-size: $background-grid-size $background-grid-size;
  background-position: $background-grid-size/2 $background-grid-size/2;
  background-image:
    linear-gradient(to right, colour('body-accent') 1px, transparent 1px),
    linear-gradient(to bottom, colour('body-accent') 1px, transparent 1px);
}

#app {
  display: flex;
  flex-direction: column;
  gap: spacing('xl');
  width: responsive-width(100%, 70%, get-breakpoint('mobile'), get-breakpoint('widescreen'));
}


body, main, header, footer, button, a, span, p, .site-content, aside, input, .input-text__wrapper, select {
    @include global-animations();
}


h1 {
    @include font('h1');
}

h2 {
    @include font('h2');
}

h3 {
    @include font('h3');
}