*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:where(html){
    color-scheme: light dark;
}

:where(li,ul,ol){
    list-style: none;
}

:where(button){
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
}