@use '../utils/utils' as *;
@use '../settings/settings' as *;

.blog-post {
    &__wrapper {
        position: relative; 
        display: flex;      
        align-items: flex-start;
    }
    &__content {
        flex:1;
    }
    &__controls {
        align-self: flex-start;

        display: flex;
        flex-direction: column;
        gap: spacing('md');
    }
    &__actions {
        display: flex;
        gap: spacing('md');
        padding-right: spacing('md');
        margin-left: auto;
        height: fit-content;
    }
    &__back-control {
        position: sticky;
        align-self: flex-start;
        transition: top .3s ease-in-out;

        &--bottom {
            top: calc(100vh - 4rem);
        }
    }
}