@use '../settings/settings' as *;
@use '../utils/utils' as *;

footer {    
    width: 100%;
    
    background-color: colour('background');
    border: 2px solid black;
    border-bottom: none;
    border-radius: $border-radius $border-radius 0 0;
    
    padding: spacing('lg');
}