@use '../settings/settings' as *;

header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    
    background-color: colour('background');
    border: 2px solid black;
    border-top: none;
    border-radius: 0 0 $border-radius $border-radius;
}