@use '../settings/settings' as *;
.nav {
    display: flex;
    flex-direction: row;
    padding: spacing('lg');
    gap: spacing('xl');
    
    &__title {
        @include font('h3');
        display: flex;
        align-items: center;
    }
    &__links {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        gap: spacing('lg');
    }   
    @include font('p2');
}