@use '../settings/settings' as *;
@use '../utils/utils' as *;

.nav {

    display: flex;
    flex-direction: row;
    @include font('p2');

    &__links {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        gap: responsive-size(spacing('md'), spacing('lg'), get-breakpoint('mobile'), get-breakpoint('tablet'));
    }   
}