@use 'settings.colours' as *;
@use 'settings.spacing' as *;
@use 'settings.fonts' as *;

$border-radius: 10px;
$animation-duration: 0.2s;

@mixin button-base ($bg-colour, $text-colour) {
    text-decoration: none;
    padding: spacing('lg');
    background-color: $bg-colour;
    color: $text-colour;
    border-radius: $border-radius;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    
    &:hover {
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 0 black;    
        transition: all 0.1s ease-in-out;
    }
    &:active {
        transform: translate(4px, 4px);
        box-shadow: 0px 0px 0 black;
    }
}


@mixin simple-button-variant ($name, $bg-colour, $text-colour: colour('black')) {
    &--#{$name} { 
        @include button-base($bg-colour, $text-colour);
    }
}


@mixin button-variant ($name, $light-bg-colour: null, $light-text-colour: null, $dark-bg-colour: null, $dark-text-colour: null, ) {
    &--#{$name} { 
        @include button-base($light-bg-colour, $light-text-colour);
        
        @if ($dark-bg-colour) {
            [data-theme="dark"] & {
                background-color: $dark-bg-colour;
            }
        }
        
        @if ($light-bg-colour) {
            [data-theme="light"] & {
                background-color: $light-bg-colour;
            }
        }
        
        @if ($dark-text-colour) {
            [data-theme="dark"] & {
                color: $dark-text-colour;
            }
        }
        
        @if ($light-text-colour) {
            [data-theme="light"] & {
                color: $light-text-colour;
            }
        }
    }
}

@mixin link-variant ($name, $text-colour: colour('black'), $underline-colour: null, $dark-text-colour: null, $light-text-colour: null, $dark-underline-colour: null, $light-underline-colour: null) {
    &--#{$name} {
        
    }
}


@mixin button-styles() {
    @include button-variant('primary', colour('yellow'), colour('black'), colour('dark-purple'), colour('white'));
    @include button-variant('secondary', colour('orange'), colour('black'), colour('dark-blue'), colour('white'));
    @include button-variant('tertiary', colour('pink'), colour('black'), colour('dark-green'), colour('white'));
    
    
    @include simple-button-variant('pink', colour('pink'), colour('text'));
    @include simple-button-variant('yellow', colour('yellow'), colour('text'));
    @include simple-button-variant('orange', colour('orange'), colour('text'));
    @include simple-button-variant('purple', colour('purple'), colour('text'));
    @include simple-button-variant('green', colour('green'), colour('text'));
    @include simple-button-variant('black', colour('black'), colour('white'));
    @include simple-button-variant('white', colour('white'), colour('black'));
    
    @include simple-button-variant('dark-pink', colour('dark-pink'), colour('white'));
    @include simple-button-variant('dark-yellow', colour('dark-yellow'), colour('white'));
    @include simple-button-variant('dark-orange', colour('dark-orange'), colour('white'));
    @include simple-button-variant('dark-purple', colour('dark-purple'), colour('white'));
    @include simple-button-variant('dark-green', colour('dark-green'), colour('white'));
    
    @include button-variant('inverted', colour('black'), colour('white'), colour('white'), colour('black'))
}

@mixin link-styles() {
    
}


@mixin add-all-classes() {
  @include add-bg-colour-classes();
  @include add-text-colour-classes();
  @include add-dark-bg-colour-classes();
  @include add-light-bg-colour-classes();
  @include add-dark-text-colour-classes();
  @include add-light-text-colour-classes();
}